.Dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;


    .description {
        position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
      }

    .info-user{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
